body {
  color: black;
  font-weight: 500;
  font-size: larger;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 100px 100px;
  margin-bottom: 100px; */
}

